.header {
    width: 100%;
    padding: 5px 10px 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 999;
}

.logo {
    width: 190px;
    padding-left: 30px;
}

.menu-toggle {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.headers_menu {
    display: flex;
    background-color: black;
    width: 30%;
    padding: 10px;
    gap: 2em;
    margin-right: 30px;
}

.headers_menu.active {
    display: flex;
    flex-direction: column;
}

.header_home a,
.header_Movie a,
.header_Genre a {
    color: white;
}

.genre_menu {
    position: absolute;
    top: calc(46% + 15px);
    right: 50px;
    background-color: #1e1e1ef3;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.234);
    z-index: 1000;
    display: none;
}

.genre_menu.show {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.genre_menu li {
    padding: 12px 16px;
    text-decoration: none;
    color: #ffffff;
    display: block;
}

.link:hover {
    background-color: #f72424d4;
    border-radius: 20px;
}

.link {
    padding: 10px;
    color: white;
}

menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        color: white;
        background-color: transparent;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
    }

    .headers_menu {
        display: none;
        gap: 1em;
        position: absolute;
        top: calc(70% + 10px);
        right: 10px;
        background-color: black;
        width: 20%;
        padding: 10px;
        border-radius: 10px;
        box-sizing: border-box;
        text-align: center;
    }
}